<div class="show-grid mb-5">
  <div class="main-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, crop: :fill %>')">
    <div class="main-card-text">
      <%= @cocktail.name %>
      <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_cocktail_path(@cocktail) %>
      <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe,
                  cocktail_path(@cocktail),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </div>
  </div>

  <div class="card doses-card">
    <div class="card-body d-flex flex-column">
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li class="card-text">
            <%= dose.ingredient.name %>: <%= dose.description %>
            <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_cocktail_dose_path(@cocktail, dose) %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe,
                        dose_path(dose),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
            <% end %>
          </li>
      </ul>
      <%= link_to "Add dose to this cocktail", new_cocktail_dose_path(@cocktail), { class: "dose-button mt-auto"} %>
    </div>


  </div>
</div>